venv/
__pycache__/

db.sqlite3
.env

media/

# videos and large files
*.mp4
*.wav
*.zip
*.xz

# AI models
*.pt
*.bin
*.pkl

# secrets (VERY IMPORTANT)
firebase_key.json
accounts/client_secret*.json
accounts/django-cloud-project*.json